<%= form_for [@artist, @lp] do |f| %>
  <% if @lp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lp.errors.count, "error") %> prohibited this lp from being saved:</h2>

      <ul>
      <% @lp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= label_tag "genre" %>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.select :condition, Lp.conditions.keys.map { |w| [w.humanize, w] } %>
  </div>  
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
