<p id="notice"><%= notice %></p>

<h1><%= @artist.name %>'s Lps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody>
    <% @lps.each do |lp| %>
      <tr>
        <td><%= link_to lp.title, lp %></td>
        <td><%= lp.condition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lp', new_artist_lp_path(@artist) %>
