<p id="notice"><%= notice %></p>

<%= link_to 'New Lp', new_artist_lp_path(@artist) %>

<h1><%= @artist.name %>'s Lps</h1>

<nav>
  Filter: <%= alphabet_filter "Lp", @artist %>
</nav>

<% if @lps.empty? %>
  None
<% else %>
  <table>
    <thead>
      <tr>
	<th><%= sortable "Title" %></th>
      </tr>
    </thead>

    <tbody>
      <% @lps.each do |lp| %>
	<tr>
	  <td><%= link_to lp.title, lp %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% end %>
