<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lp.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @lp.artist %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @lp.condition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lp.type %>
</p>

<%= link_to 'Edit', edit_lp_path(@lp) %> |
<%= link_to 'Destroy', lp_path(@lp), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', artist_lps_path(@lp.artist) %>
