<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lp.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @lp.artist.try(:name) %>
</p>

<p>
  <strong>Genres:</strong>
  <% if @lp.genres.empty? %>
    None
  <% else %>
    <ul>
      <% @lp.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @lp.condition.humanize %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lp.type %>
</p>

<p>
  <strong>Note:</strong>
  <%= @lp.note %>
</p>

<%= link_to 'Edit', edit_lp_path(@lp) %> |
<%= link_to 'Destroy', lp_path(@lp), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', artist_lps_path(@lp.artist) %>
