<p id="notice"><%= notice %></p>

<%= link_to 'New Cd', new_artist_cd_path(@artist) %>

<h1><%= link_to @artist.name, artist_path(@artist) %>'s Cds</h1>
<h2>
  <%= page_entries_info @cds %>
  <% if params[:i].present? %>
    that start with
    <%= params[:i] %>
  <% end %>
</h2>

<nav>
  Filter: <%= alphabet_filter "Cd", @artist %>
</nav>

<% if @cds.empty? %>
  None
<% else %>
  <table>
    <thead>
      <tr>
	<th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @cds.each do |cd| %>
	<tr>
	  <td><%= link_to cd.title, cd %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @cds %>
<% end %>
