<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cd.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @cd.artist %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @cd.condition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cd.type %>
</p>

<%= link_to 'Edit', edit_cd_path(@cd) %> |
<%= link_to 'Back', cds_path %>
