<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cd_path(@cd) %> 
<%= link_to 'Destroy', @cd, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', artist_cds_path(@cd.artist) %>

<p>
  <strong>Title:</strong>
  <%= @cd.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @cd.artist.try(:name), artist_path(@cd.artist) %>
</p>

<p>
  <strong>Genres:</strong>
  <% if @cd.genres.empty? %>
    None
  <% else %>
    <ul>
      <% @cd.genres.each do |genre| %>
        <li><%= link_to genre.name, genre_path(genre) %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cd.type %>
</p>

<p>
  <strong>Note:</strong>
  <%= @cd.note %>
</p>
