<p id="notice"><%= notice %></p>

<%= link_to 'New Artist', new_artist_path %>

<h1>Listing <%= @artists.count %> Artists</h1>

<nav>
  Filter: <%= alphabet_filter "Artist" %>
</nav>

<% if @artists.empty? %>
  None
<% else %>
  <table>
    <thead>
      <tr>
	<th><%= sortable "Name" %></th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
	<tr>
	  <td><%= link_to artist.name, artist %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% end %>
