<p id="notice"><%= notice %></p>

<%= link_to 'New Artist', new_artist_path %>

<h2>
  <%= page_entries_info @artists %>
  <% if params[:i].present? %>
    that start with
    <%= params[:i] %>
  <% end %>
</h2>

<nav>
  Filter: <%= alphabet_filter "Artist" %>
</nav>

<% if @artists.empty? %>
  None
<% else %>
  <table>
    <thead>
      <tr>
	<th><%= sortable "Name" %></th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
	<tr>
	  <td><%= link_to artist.name, artist %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @artists %>
<% end %>
