<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.try(:name) %>
</p>

<p>
  <strong>Genres:</strong>
  <% if @album.genres.empty? %>
    None
  <% else %>
    <ul>
      <% @album.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @album.condition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @album.type %>
</p>

<p>
  <strong>Note:</strong>
  <%= @album.note %>
</p>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', albums_path %>
